KAFKA_BOOTSTRAP_SERVERS=localhost:29092
KAFKA_TOPIC=user_activity
KAFKA_CONSUMER_GROUP=pulse-postgres-writer

# Postgres
DB_NAME=pulse
DB_USER=pulse_user
DB_PASSWORD=changeme
DB_HOST=localhost
DB_PORT=5433
